<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sqlite.Properties.Settings.ConnectionString" connectionString="Data Source=D:\Coledge\2016_Year\1243\School.db"
            providerName="Devart.Data.SQLite" />
        <add name="sqlite.Properties.Settings.ConnectionString1" connectionString="Data Source=D:\1\Cou\sqlite\bin\Debug\School.db"
            providerName="Devart.Data.SQLite" />
    </connectionStrings>
</configuration>